/* Estilos CSS con Flexbox */
body {
    font-family: Arial, sans-serif;
    color:aliceblue;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
background-color: #aa060686;}

header {
    background-color: #d44343f5;
    color: white;
    text-align: center;
    padding: 0px;
}

nav {
    background-color: #d13838f5;
    color: white;
    padding: 10px;

}


nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a{
    color: white;
}

.slider__h2{
    text-shadow: 1px 1px 3px black;
}
main {
    flex: 1;
    display: flex;
    justify-content: space-between;
   
    margin: 10px auto;
    padding: 20px;
}

aside {
    flex-basis: 20%;
    a{
        color: white;
    }
    }

aside ul {
    list-style-type: none;
    padding: 0;
}

aside ul li {
    margin-bottom: 10px;
}

section {
    flex-grow: 1;
    margin-left: 20px;
}

article {
    margin-bottom: 20px;
}

img{
    width: 100%;
}

.icono{
    width: 25px;
}
.image{
    width: 200px;
    align-self:center;
    
}
.logo{
width: 140px;    
align-self: center;
padding-top: 0%
padding-bottom: 0%;
padding-left: 0%;
padding-right: 0%;
margin-top: 0%;
margin-bottom: 0%;
margin-left: 0%;
margin-right: 0%;
}
.main__menu{
display: flex;   
}

video{
    width: 400px;
}

h1 {
    color:#fffffff5;
    text-align:center;
}
h2 {
    color: #fffffff5;
    text-align: center;
}

footer {
    background-color: #d44343f5;
    color: white;
    text-align: center;
    padding: 10px;
}

footer ul{
    list-style-type: none;
}

footer li{
line-height: 1.6;
}

footer a{
    color: white;
   
}
footer h2{
    color:whitesmoke
}
p {
        color: white;
        text-align:center;
       
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
}