* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;}



  body {
 background:url(../assets/img/fondo.jpg), #100203;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: top;
 width: 100vw;
  color: white ;
 -webkit-font-smoothing: antialiased;
}
body, input, button {
 
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
 cursor: pointer;
}
@font-face {
    font-family: Franchise;
    src: url(../font/Franchise-Bold-hinted.ttf);
}

.nav__menu{
    display: flex;
    /* justify-content: space-between; */
    background-color: #100203;
    width: 100vw;
    padding: 0px 20px;

}

.header{
    display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 66px;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 66px;
    /* margin-top: 3.5rem; */
    /* margin-left: 40rem; */
    
}
a:active{
    color:red;
}
ul{
    display: flex;
    justify-content: end;
    gap: 1rem;
}
ul li{
    list-style: none;
       
}
a{
    text-decoration: none;
    color: #FFF;
    font-family: Franchise;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#top{
    /* height: 100vh;
    object-fit: none;
    position: absolute;
    top: 10;
    left: 0;
    width: 120vw;
    z-index: -2; */
    width: 100%;
}
#fondo{
    width: 100vw;
    height: 100vh;
    object-fit: none;
    position: absolute;
    top: 100;
    left: 0;
}

.discography__top{
    width: 100vw;
}
.discography__bottom{
height: 25rem;
width: 100vw;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}

.discography__h1{
color: #FFF;
text-shadow: 0px 8px 0px #100203;
font-family: Franchise;
font-size: 13rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.8px;}

#bottom{
    /* width: 100vw;
    height: 100vh;
    object-fit: none;
    position:relative;
    top:99%;
    bottom: 1%;
    left: 0; */
    z-index: -1;
    width: 100%;
}
.caixa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:100vw;
    background-color: #100203;
}


.gallery-container{
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 3rem;
}
.filter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.filter-btn{
    margin-left: 2%;
    text-align: center;
    background-color: #100203;
    width: 10rem ;
    height: 2.5rem;
        color: #FFF;
        font-family: Franchise;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.11px;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
}
.active{
    background-color:#AD2D2D;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: #100203;
    margin-top: 0rem;
    padding: 3rem;
}
.logo__footer{
    width: 20rem;
 align-content: center;
}

h4{
font-family: Franchise;
font-weight: 700;
font-size: 1.7rem;
line-height: 100%;
letter-spacing: -0.11px;
vertical-align: middle;
}


@media (max-width: 768px) {
    body{
       background:black;
       
    }
    .discography__h1{
        font-size: 5%;

    }
     .nav__menu{
        display: flex;
        flex-direction: column;
    }
     
    .menu__ul{
        display: flex;
        flex-direction: column;
        position:relative;
        top: 300%;
    }
    .header{
        display: flex;
        flex-direction: column;
    }
    /* .menu{

        display: flex;
        flex-direction: column;
    } */

    .filter-container{
        display: flex;
        flex-direction: column;

    }
    .discography__top{
        width: 50;
    }
    .discography__bottom{
    height: 25rem;
    width: 500vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    }
.top{
    display: none;

}
.bottom{
    display: none;
}
}
