* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
 background: black;
 color: white;
 -webkit-font-smoothing: antialiased;
}

body, input, button {
 font-size:14px ;
 font-family: 'Times New Roman', Times, serif;
}

button {
 cursor: pointer;
}
@font-face {
    font-family: primary;
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: secondary;
    src: url(../fonts/Poppins-Regular.ttf);
    }
@font-face {
    font-family: terciary;
    src: url(../fonts/Poppins-SemiBold.ttf);
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: secondary;
}

.header__nav{
    border-bottom: 10px solid #C00;
}
.header-left{
    display: flex;
    flex-direction: row;
    justify-content: start;
    
    /* padding: 10px 0px 0px 39%; */
}

.spain{
    padding-left: 5px;
    padding-top: 5px;

}
.header-right{
    display: flex;
    justify-content: end;
    padding-top: 5px;
    /* /* align-content: center;
    padding: 10px 5px 0px 12%; */
} */
h6{
    color: #FFF;    
    font-family: secondary;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 2px 5px 0px 10px;
    }

.container-fluid{
    
    /* height: 10%;
    width: 50%; */
    font-family: secondary;
}
.navbar-nav{
    border:0px 0px 0px 0px;
    padding: 1% 30% 1% 30%;
}

#logo1{
    height: 35px;
    width: 32px;
    position: center;

}
body {
        background-image: url('../../assets/img/ducati-diavel-v4.webp');
        background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
        background-position: center; /* Centra la imagen en el fondo */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        height: 100vh;
        
      }
.fondo{
    background-color: white;
        
}

main{
    padding-top: 30%;
    height: 85vh;
}
.form-select{
    color: #3E4C66;
    border: 0px;
    font-family: secondary;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.56px;
    box-sizing: 120px;
}

.form-check-label{
    color: #3E4C66;
    font-family: secondary;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}
.container{
    justify-content: space-around;
    align-items: center;
    
    /* padding: 30px 15% 0px 15%; */
}
.bottom{
    
    /* background: rgba(15, 15, 15, 0.81); */
    /* padding: 0px 10px 30px 10px; */
    /* padding-top: 5%; */
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px 1px 0px 1px;
}

.modelo{
    color: #3E4C66;
    font-family: secondary;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.6px;
    padding-top: 20px;
    margin-left: 12px;}

.md-3{
    justify-self: end;
}
.transparente{
    display:flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background: rgba(15, 15, 15, 0.81);
    padding: 1px 1px 39px 1px;
    padding-top: 4%;
    height:250px
}

.col-11{
    background-color: white;
    color:black;
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around; */
    /* width: 91%; */
    height: 104px;

    h6{
    /* color: #3E4C66;
    font-family: secondary;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;  128.571%
    letter-spacing: 0.28px; */
    }
}

.form__campos{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid lightgray;
}

.fondo__campos{
    /* border-right: 1px solid lightgray; */
    background-color: white;
    padding: 00px;
}
.form__campos--left{
    margin-top: 5%;
    padding-top: 1%;
    padding-left: 5%;
    border-left: 1px solid lightgray;
}
.buscar{
    border-radius: 2px;
    background: #C00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 108px;
    width: 104px;
}
.lupa{
    align-items: end;
 }/*
.vl { 
        border-left: 1px solid LIGHTGRAY;
        height: 10%;
        position: absolute;
        left: 38vw;
        margin-left: 3px;
        top: 82.5VH;
      }
.vl__1 { 
        border-left: 2px solid LIGHTGRAY;
        height: 10%;
        position: absolute;
        left: 60vw;
        margin-left:3px;
        top: 82.5VH;
      } */

.text{
    font-family: secondary;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 4%;

}

.foot{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    padding:3% 35% 3% 35%;
    }
@media (250px <= width <= 768px) {
.container--media{
    display:flex;
    flex-direction: column;
    max-width: 100%;
    border: 0px 0px 0px 0px;
}
.form__campos{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: none;
    width: 100%;
    border: 0px 0px 0px 0px;
}
.form__campos--left{
    border-left: none;
    padding: 0px;
}
.transparente{
    background:transparent;

}
.col-11{
    display:flex;
    flex-direction: column; 
    background-color: white ;
    border: none;
}
.row{
    display:flex;
    flex-direction: column; 
    background-color: white ;
    border: none;
    
}
.col{
    display:flex;
    flex-direction: column; 
    justify-content: flex-start;
    background-color: white ;
}
.col-3--media{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center; */
    border: 0px solid white;
    background-color: white ;
    margin-bottom: 15px;
   
}
.col-1{
   display:none;
   border: 0px 0px 0px 0px;
    

}
.modelo{
    padding: 0px;
}
.foot{
    
    max-width: 350px;
}
}

