* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing:content-box;
}

body {
 background: green;
 color: yellow ;
 -webkit-font-smoothing: antialiased;
}

body, input, button {
 font-size: 14;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
 cursor: pointer;
 }

.contenedor-grid{ 
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1px;
    align-content: space-around;
    justify-content: center;
    margin: 2vb;
    height: 10vh;    
 }
 
.grid-container{ 
   display:grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 33% 33% 34%;
   grid-template-areas:"main main aside";
   gap:2vh;
   height: 70vh;
   background-color: rgb(204, 11, 108);
   color: black;
}
 .fondo{
    background-color: blanchedalmond;
    text-align: center;
    align-content: center;
    height: 70vh;
    font-weight: normal;
 }
 .contenedor-grid-footer{ 
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;
    background-color: rgb(231, 101, 25);
    align-items: center;
    justify-content:space-around;
    color: rgb(255, 255, 255);
    font-size: larger;
    font-weight: bold;
    height: 20vh;
    margin: 0vh;
    padding: 2vb;
    text-shadow: 1px 1px 5px black;
 }
 ul{
   display:grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 15px;
   list-style: none;
 }
 .images{
    justify-content: center;
    align-content: center;
    padding: 2vb;
    margin: 2vh;
    /* height: 100%; */

 }
 @media (max-width:800px) {/*pantallas con una resolución maxima de 1000 (pantallas mayores de 1200px)*/
   main {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 1fr 1fr 1fr 1fr;
   }

   .grid-container{ 
      display:grid;
      grid-template-columns: 1fr;
  
      grid-template-areas:"main"
                            "aside";
      gap:2vh;
      height: 70vh;
      background-color: rgb(204, 11, 108);
      color: black;
   }

   .images{
      width: 220px;
   }
   .fondo{
      background-color: blanchedalmond;
      text-align: center;
      align-content: center;
      height: 20vh;
      font-weight: normal;
   .contenedor-grid-footer{
      grid-row-start: 4;
   }
 }