* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
 background:#ecf6ff ;
 color: #0c206a;
 -webkit-font-smoothing: antialiased;
}
@font-face {
    font-family: texto;
    src: url(../assets/fonts/FunnelSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: principal;
    src: url(../assets/fonts/amano.ttf);
}
@font-face {
    font-family: enviro;
    src: url(../assets/fonts/enviro.ttf);
}
body, input, button {
 font-size: 14 ;
 font-family:texto;
}

button {
 cursor: pointer;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn{
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px

}
.btn-1{
    background-color: #012ecc;
    font-family: principal;
    color: whitesmoke;
    Transition: background-color 0.3 ease;
    }
.btn-1:hover{
    background-color: #7ec2ff;
}
.btn-2{
    background-color: #1675ff;
    font-family: texto;
    color: #ecf6ff;
    transition:transform 0.3s ease;
}
.btn-2:hover{
    transform: scale(1.1);
}
.btn-3{
    font-family: enviro;
    background-color: #b2d9ff;
    color: #0c206a;
    text-shadow: 1px 2px #ecf6ff;
    box-shadow: 2px 3px 5px #7ec2ff ;
    transition: transform 1s ease-out;
}
.btn-3:hover{
    font-family: principal;
    background-color: #1675ff;
    color:#d4e8ff;
    text-shadow: 1px 1px 2px #0c206a;
    transform: scale(0.9);
    box-shadow: 2px 3px 5px #0c206a;
}

.btn-4{
    background-image: url(../assets/img/Adega.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat ;
    background-color: #740c1dd3;
    width: 130px;
    height: 40px; 
    background-blend-mode:normal;
}

.btn-4:hover{
    transition:all 2s ease-in;
    scale: 1.5;
    box-shadow: 1px 2px 5px #f71880;
    rotate: 360deg;
}
.btn-5{
    font-family: enviro;
    color:#1675ff;
    background-color: #7ec2ff;
    text-decoration: underline wavy;
    text-shadow: 2px 3px 2px #fdfdfd;

}
.btn-5:hover{
    font-family: enviro;
    color:white;
    background-color: #1675ff;
    box-shadow: 2px 2px 6px #7ec2ff;
    transition:2s ease-in-out;
    scale:1.3;
    rotate: -380deg;

}
.btn-6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    background-color: #3697f8;
    color:#1675ff;
    box-shadow: 2px 2px 5px #4118f7;
    text-shadow: 2px 2px 2px white;
    text-transform: uppercase;
    text-decoration: underline double;
    height: 7vh;
    width: 16vh;
    transition: transform 2s 0.2s 1s ease-in-out;
}
.btn-6:hover{
text-transform: none;
font-size: 11px;
color:#3697f8;
background-color:#1675ff;
box-shadow: 2px 2px 5px #012ecc;
scale: 1.1;
height: 8vh;
width: 18vh;
}