* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
html{
    font-size: 10px;
}
body {
 background: #66D1FF;/*linear-gradient(rgb(18, 18, 82), rgb(184, 184, 184)); */;
 color:black;
 -webkit-font-smoothing: antialiased;
}

body, input, button {
 
 font-family:Poppins ;
}

button {
 cursor: pointer;
}
@font-face {
    font-family:Poppins;
    src: url(../fonts/Poppins.ttf);
}
:root{
    --font-primary:Poppins;
}

.input{
    margin-top: 10rem;
}
.control{
    margin-bottom: 2rem;
}

.navbar-item{
    font-size: 1.5rem;
}

a{
    font-size: 1.5rem;
    color:rgb(2, 0, 3);
    text-decoration: none;
}
#dategl{
    font-size: 1.5rem;
}

#forecast-container{
    display:flex;
    justify-content: center;
    background-color:none;
    height:12rem;
    width: 5rem;
    border-radius: 1rem;
    margin: 1rem;
    
    
}
/* Pronostico */

.pronostico{
    margin: 1rem 0px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  

#forecast-template{
    background-color: #fafbfc;
    height: 15rem;
    width: 5rem;
}
#pronostico__container{
    background-color: var(--bulma-scheme-main);
    width: 55px;
    height: 90px; 
    /* estas 3 lineas las escribió Rubén */
        
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    align-content: center;
    padding: 1rem;
    border-radius: 1rem;
}
#pronostico__card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #b9dcff;
    padding: 3rem;
    width: 5.5rem;
}
#date{
    display: flex;
    justify-content: center;
    font-family: Tahoma;
    background-color: none;
    border-radius: 1rem;
}

#weather__icon{
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    animation: movemento 5s ease-in-out infinite;
    
    height: 6rem;
    border: 0.1rem solid silver;
    border-radius: 0.5rem;
    
}
@keyframes movemento {
  
    0%, 100%{
      scale: 1;
      rotate:355deg;
    }
  
    50%{
      scale: .95;
      rotate:360deg;
    }
    
  }

#temperature{
    background-color: #a5cffa;
    height: 1.7rem;
    width: 4.5rem;
    border: 2px solid silver;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-content: center;
}
/* Fondo */
  
.fondo-dia{
    background: linear-gradient(125deg, #97c1e8 0%, #61a1dd 17%, #002e7a 100%);
  }
  
.fondo-noite{
    background: linear-gradient(125deg, #012241 0%, #013565 17%, #002e7a 100%);
  }
  
  .background{
    background: rgb(63, 188, 226);
  }
.footer{
    background-color: rgb(2, 0, 3);
    color: rgb(255, 255, 255);
    padding: 1rem ;
    text-align: center;
 
    bottom: 0;
    width: 100%;
}
.navbar{
    background-color: lightgrey;
    color: rgb(255, 255, 255);
    padding: 1rem;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}