* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background: #66D1FF;
    /* background: linear-gradient(rgb(18, 18, 82), rgb(184, 184, 184)); */
    color: black;
    -webkit-font-smoothing: antialiased;
}
.fondo-dia{
  background: linear-gradient(125deg, #97c1e8 0%, #61a1dd 17%, #002e7a 100%);
}

.fondo-noite{
  background: linear-gradient(125deg, #012241 0%, #013565 17%, #002e7a 100%);
}
body,
input,
button {

    font-family: Poppins;
}

button {
    cursor: pointer;
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins.ttf);
}
header{
    padding-top:2rem;
}
:root {
    --font-primary: Poppins;
}
.main{
    padding-top: 6rem;
}
/* Fondo */



.input {
    margin-top: 10rem;
}

.control {
    margin-bottom: 2rem;
}

.navbar-item {
    font-size: 1.5rem;
}

a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

#dategl {
    font-size: 1.5rem;
}
.title__principal{
    padding-top: 0.6rem;
    font-size:2rem ;
}
/* Mi carrusel
#forecast-container {
    display: flex;
    justify-content: center;
    background-color: #aea9fa;
    height: 15rem;
    width: 5rem;
    border-radius: 1rem;
    margin: 1rem;


}

#forecast-template {
    background-color: #fafbfc;
    height: 15rem;
    width: 5rem;
}

#pronostico__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5rem;
}

#pronostico__card {
    background-color: #b9dcff;
    padding: 3rem;
}



#weather__icon {
    background-color: #a5cffa;
    height: 6rem;
    border: 2px solid silver;
    border-radius: 0.5rem;
}


} */

/*CARRUSEL*/

.pronostico{
    margin: 1rem 0px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
#date {
    display: flex;
    justify-content: center;
    font-family: Tahoma;
    background-color:none ;
    border: 0px solid rgb(179, 29, 29);
    border-radius: 1rem;

}
#date__card{
    background-color: #fff;
    height: auto;
    width: 4.5rem;
    border: 2px solid silver;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-content: center;
}  

  .pronostico__container{
    background-color: var(--bulma-scheme-main);
    width: 55px;
    height: 90px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pronostico__card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 55px;
  }
  
  #temperature {
    background-color: #fff;
    height: auto;
    width: 4.5rem;
    border: 2px solid silver;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-content: center;}
  
  .pronostico__img{
   width: 45px;
   display: flex;
   justify-content: center;
   align-items: center; 
  }
  
  .pronostico__img img{
    width: 30px;
  }
  
  #forecast-container {
    overflow-x: auto;
    white-space: nowrap; 
  
    &::-webkit-scrollbar{
      display: none;
    }
  
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  #forecast-template .pronostico__card {
    display: inline-block;
    margin-right: 10px; 
  }
  

/* configuración fases lunares*/
#ex3 {
    max-width: 700px;
    /* margin: 20px auto; */
    background-color: #333333;
    /* padding: 1%; */
    color: white;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

#isToDay {
    box-shadow: inset 0 0 0 1px darkgray;
}

.day_box,
.name_day,
.titleCalendar,
.buttonCalendar {
    width: calc(100% / 7);
    display: inline-block;
    vertical-align: top;
}

.titleCalendar {
    width: calc(100% / 7 * 5);
    font-size: 24px;
    text-align: center;
}

.buttonCalendar {
    background-color: black;
    text-align: center;
    color: white;
    border: none;
    font-size: 18px;
    padding: 0;
    cursor: pointer;
}

.name_day {
    overflow: hidden;
    font-size: 14px;
    padding: 1px;
    box-sizing: border-box;
    margin-top: 5px;
    text-align: center;
}

.day_box {
    text-align: left !important;
    font-size: 14px;
    background-image: linear-gradient(black, #222222);
    background-size: 97% 97%;
    background-position: center center;
    background-repeat: no-repeat;
}

.day_box>div {
    margin: 1px;
    padding: 5%;
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: 95% 95%;
}

.day_box>div>span {
    position: absolute;
    color: white;
    font-size: 1em;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
/*cual es el significado de la clase con >div*/
.day_box>div>div {
    padding: 5% 15%;
}

.footer__text{
    color:Silver;
    font-size:2rem;
    text-align: center;
}